body {
  min-width: 300px;
}

div[class^='col'], div[class*='col']{
  margin-bottom: 12px;
}

#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  .content {
    flex-grow: 1;
    padding: 15px;
  }

  .row {
    margin-bottom: 12px;
  }
}

// header
.header {
  border-bottom: 1px solid #ededed;
  white-space: nowrap;
  &-top {
    border-bottom: 1px solid #ededed;
  }
  &-menu {
    background-color: rgba(255, 255, 255, .5);
    .at-menu {
      overflow-x: auto;
      display: flex;
    }
  }
  .logo {
    padding: 15px;
    a {
      color: #2C405A;
      font-size: 20px;
      line-height: 40px;
      font-weight: bold;
    }
  }
  .at-menu--horizontal {
    border-bottom: none;
  }
  .at-menu {
    background-color: transparent;
  }
}

// card
.at-card {
  box-shadow: 0 0 0 1px #ededed;
  transition: all .2s ease-in-out;
  overflow: hidden;
  &__img {
    width: 100%;
    height: 200px;
    background: no-repeat center;
    background-size: cover;
  }
  &__setting {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    width: 100%;
    height: 100%;
    flex-direction: column;
    transition: all .2s ease-in-out;
    .view-button button {
      width: 100%;
    }
    .setting-buttons > div {
      padding: 5px;
    }
  }
  &::before {
    content: '';
    background-color: rgba(255, 255, 255, .5);
    min-width: 100%;
    min-height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    transition: all .2s ease-in-out;
  }
  &:hover {
    box-shadow: 0 0 0 3px #ededed;
    &::before {
      z-index: 5;
      opacity: 1;
      visibility: visible;
    }
    .at-card__setting {
      z-index: 10;
      opacity: 1;
      visibility: visible;
    }
  }
}

// Notification
@media screen and (max-width: 400px) {
  .at-notification {
    width: 80% !important;
  }
}

// change log page
.at-timeline {
  &__content {
    top: -3px;
  }
  .description {
    margin-top: 5px;
    padding: 15px;
    border-radius: 5px;
    background-color: #f5f5f5;
    ul {
      padding: 5px;
      list-style: circle inside;
    }
  }
}
.content-change-log {
  width: 100%;
  padding: 20px;
}
.date {
  padding: 2px 5px;
  background-color: #f5f5f5;
  border-radius: 5px;
}

// item page
.item-page {
  height: 100%;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px 5px 0 0;
  &__picture {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 180px;
    z-index: -1;
    background: no-repeat center #ededed;
    background-size: cover;
    &::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: #fff;
      opacity: .85;
    }
  }
  &__description {
    margin: 0 0 20px;
  }
  &__buttons > div {
    padding: 5px;
  }
  .title-page {
    margin: 20px 0;
  }
}

// footer
.footer {
  border-top: 1px solid #ededed;
  padding: 20px;
  text-align: right;
  &__link {
    color: #2C405A;
    font-size: 16px;
  }
}
